.catalogue {
  margin-bottom: 100px;
  display: flex;
}

.filterBtn,
.filters-open button,
.filters-bottom button,
.filters-head {
  display: none;
}

.filters {
  width: 22vw;
  margin-right: 25px;
}

.filters label {
  color: #444;
  font-weight: bold;
}

.products {
  width: 78vw;
  display: flex;
  flex-wrap: wrap;
}

.viewController {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.viewController .filters,
.viewController .btn {
  display: none;
}
.viewController .single-on {
  background-image: url("https://ik.imagekit.io/jtpsjzhns/images/components/single_on_LIlSmu67DE.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1664180783279");
}

.viewController .single-off {
  background-image: url("https://ik.imagekit.io/jtpsjzhns/images/components/single_off_7fXbhwxmO7.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1664180783357");
}

.viewController .multi-on {
  background-image: url("https://ik.imagekit.io/jtpsjzhns/images/components/multi_on_VXVy0ft1g.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1664180783175");
}

.viewController .multi-off {
  background-image: url("https://ik.imagekit.io/jtpsjzhns/images/components/multi_off_ViKe0Bl2_.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1664180783158");
}

@media screen and (max-width: 800px) {
  .catalogue {
    flex-direction: column;
  }

  .products {
    position: relative;
    text-transform: none;
    width: 100%;
  }

  .btn {
    display: block;
  }

  .viewController {
    display: flex;
    max-width: 100vw;
    height: 100px;
    align-items: center;
    justify-content: space-around;
  }

  .view-btns {
    display: flex;
  }

  .viewController .btn {
    display: flex;
    width: 20px;
    height: 20px;
    margin: 15px;
    background-repeat: no-repeat;
  }

  .view-btns {
    display: flex;
  }
  .filterBtn {
    display: block;
  }

  .filterBtn button {
    display: block;
    border: none;
    background-color: transparent;
  }

  .filters-head {
    position: sticky;
    top: 0px;
    z-index: 9999;
    background-color: white;
    display: flex;
    font-size: 18px;
    margin: 15px;
    height: 60px;
    max-width: 100%;
  }

  .filters-head p {
    width: 100%;
  }

  .filters-bottom {
    position: sticky;
    background-color: white;
    align-content: space-between;
    bottom: 0;
    display: block;
    left: 10px;
    list-style: none;
    padding: 10px;
    right: 10px;
  }

  .filters-bottom button {
    display: block;
    background: 0 0 / auto #414141;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    height: auto;
    letter-spacing: 0.56px;
    min-height: 48px;
    transition: none 0s ease 0s;
    width: 100%;
  }

  .filters-head button {
    display: flex;
    justify-content: end;
    background-color: initial;
    border: none;
    font-size: 26px;
    margin: 15px;
  }

  .filters {
    display: none;
  }
  .filters-open {
    background-color: white;
    display: grid;
    grid-template-rows: auto 1fr auto;
    position: fixed;
    top: 0;
    left: -1000px;
    height: 100%;
    width: 100%;
    padding: 0px;
    overflow: auto;
    animation: slide 0.5s forwards;
    z-index: 9999;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.25px;
  }
}
