footer {
  background-color: #36252c;
  color: white;
}

footer .container {
  display: grid;
  grid-template-columns: 6fr 2fr 2fr;
  grid-gap: 20px;
}

footer .logo {
  display: flex;
  padding: 50px;
}

footer .logo img {
  width: 300px;
  height: 150px;
}

.box {
  padding: 10px;
}
