.banner {
  display: flex;
  justify-content: end;
  background-color: #8b1705;
  padding: 15px;
}

.banner a {
  align-items: center;
  display: flex;
  color: white;
  font-weight: 500;
  margin-right: 10px;
}

.banner a span {
  margin-left: 10px;
  display: block;
}

.navbar {
  padding-top: 10px;
  background-color: #36252c;
  text-align: center;
  display: flex;
  flex-direction: column;
}

header .logo:hover {
  filter: none;
}

header .logo img {
  width: 273px;
  height: 48.75px;
  max-width: 100%;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu ul {
  display: flex;
  justify-content: center;
  list-style: none;
  max-width: 100%;
  flex-wrap: wrap;
}

.menu li {
  text-decoration: none;
  margin: 0 15px;
}

.menu ul button {
  position: absolute;
  top: 15px;
  right: 10px;
  font-size: 35px;
  border: none;
  background-color: transparent;
}

.nav-btns {
  display: flex;
  align-items: center;
  width: 82vw;
  margin-bottom: 10px;
  margin-top: 10px;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.toggle {
  display: none;
}

.cart-btn {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  color: white;
  background-color: transparent;
  cursor: pointer;
}

/*
{ width: "3rem", height: "3rem", position: "relative" }
*/

.cart-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #8d3225;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 12px;
  font-weight: 600;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  transform: translate(25%, 25%);
}

@media screen and (max-width: 810px) {
  .navbar {
    justify-content: flex-end;
    align-items: center;
  }

  .banner {
    display: none;
  }
  .logo img {
    width: 80%;
  }

  .toggle {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
  }

  .menu .blocked {
    display: none;
  }

  .small {
    position: fixed;
    top: 0;
    left: -1000px;
    height: 100%;
    width: 55%;
    background: white;
    flex-direction: column;
    margin: 0;
    padding: 0;
    z-index: 9999;
    animation: slide 0.5s forwards;
  }

  .small li a {
    display: flex;
    color: #2a363b;
    font-size: 18px;
    font-weight: 600;
    padding: 16px 24px;
    position: relative;
    text-transform: uppercase;
  }
  .small li {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #eee;
  }
  .small li:hover {
    background-color: #eee;
  }
}

@media screen and (max-width: 500px) {
  .small {
    width: 78%;
  }
}

@keyframes slide {
  100% {
    left: 0;
  }
}
